# Handle line endings automatically for files detected as text 
# and leave all files detected as binary untouched.
* text=auto

# Never modify line endings
*.wcustomproperties -text -crlf
*.wwu -text -crlf
*.wproj -text -crlf
*.sh -text -crlf

